body {
    font-family: Arial, sans-serif;
    width: 400px;
    padding: 20px;
    margin: 0 auto; /* Center the layout */
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    overflow-y: auto;
}

.input {
    display: flex;
}

#keywordInput {
    margin-bottom: 10px;
}

#keywordInput, #toggleKeywordBtn {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    background-color: #555;
    border: 0px solid #555;
    outline: none;
}

#keywordInput {
    flex-grow: 1;
    background-color: #555;
}

#toggleKeywordBtn {
    text-align: center;
}

#toggleKeywordBtn:hover {
    background-color: #c800ff;
}

.control-group {
    display: flex;
    flex-direction: column;
}

#toogleBlockerBtn {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    color: white;
    background-color: #555;
    border: 0;
    outline: none;
    margin-bottom: 10px;
}

#toogleBlockerBtn:hover {
    background-color: #c800ff;
}

#keywordList {
    list-style-type: none;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    background-color: #454545;
    padding: 6px;
    margin-top: 6px;
    border-radius: 4px;
    width: calc(100% * 0.33333 - 4px);
    margin-right: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-btn::before, .delete-btn::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #fff;
}

.delete-btn::before {
    transform: rotate(45deg);
}

.delete-btn::after {
    transform: rotate(-45deg);
}

.delete-btn:hover::before, .delete-btn:hover::after {
    background-color: #dc3545; 
}

